.round {
    border-radius: 15px;
}
.details p{
    margin-bottom: 5px;
}

.hover-img:hover{
    transform: scale(1.15);
    transition: transform 1s;
}

.media-icon a{
    font-size: 30px;
    margin: 30px;
}
.twitter-icon {
    
    color: #5DA9DD;
}
.facebook-icon {
    
    color: rgb(13, 41, 202);
}